-i https://pypi.org/simple/
cffi==1.14.3
click==7.1.2
cryptography==3.2
flask==1.1.1
itsdangerous==1.1.0
jinja2==2.11.2
markupsafe==1.1.1
pycparser==2.20
pyopenssl==19.0.0
six==1.15.0
werkzeug==1.0.1
