p{
    font-size: 2em;
}
li{
    font-size: 1.5em;
}
#loader{
    position: relative;
    left: 40%;
    top: 40%
}
strong, a{
    color: #d15e14;
}

.btn.btn-primary:hover{
    background-color: #d15e14;
}

#notice {
    font-size: 1.2em;
}

.bg-grey {
    background-color: #efefef;
    padding: 1rem;
    border-radius: .5rem;
}
.tall {
    max-height: 90vh;
}
.no-max-height {
    /* To override Spectre's modal size */
    max-height: unset !important;
}

#csr {
    margin-left: 6rem;
    font-family: monospace;
    font-size: 80%;
    padding: .5rem;
}

#csr-modal > div.modal-container.tall.no-max-height > div.modal-header > button {
    display: none;
}

#csr-modal > div.modal-container.tall.no-max-height {
    height: 80vh;
    background: rgba(0,0,0,0.3);
}