p{
    font-size: 2em;
}
li{
    font-size: 1.5em;
}
.bg-grey {
    background-color: #efefef;
    padding: 1rem;
    border-radius: .5rem;
}
.tall {
    max-height: 90vh;
}
.no-max-height {
    /* To override Spectre's modal size */
    max-height: unset !important;
}

#csr {
    margin-left: 6rem;
    font-family: monospace;
    font-size: 80%;
    padding: .5rem;
}

/*#csr-form {*/
/*    display: none;*/
/*}*/

/*******************************************
****** Loading animation *******************
*******************************************/
.hg-loading {
    background: #c1c1c1;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    opacity: 0;
    transition: opacity .2s;
}

.hg-loading.fade{
    opacity: 1;
    transition: opacity .2s;
}

.loading-body {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 75px;
    height: 75px;
    margin-left: -35px;
    margin-top: -35px;
}