body {
  background: #FFF;
  font-family: 'Droid Sans', 'Trebuchet MS', Arial, Verdana;
}
#wrapper {
  width:  648px;
  margin: 0 auto;
}
#content {
  background: #F2F2F2;
  border: 1px solid #cdcdcd;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 10px;
  -moz-box-shadow: 0px 0px 2px #cdcdcd;
  -webkit-box-shadow: 0px 0px 2px #cdcdcd;
  box-shadow: 0px 0px 2px #cdcdcd;
}
h1 {
  margin: 0;
  color: #BF1B28;
}
h2 {
  margin: 0;
  margin-bottom:  10px;
  padding-left:   20px;
  font-weight: normal;
  font-size: 12px;
}

#csrform {
  padding-bottom: 15px;
  border-bottom: 1px dotted #8c8c8c;
}
#csrform input[type=text] {
  color:      #000;
  -moz-border-radius: 2px;
  border-radius:      2px;
  border:     1px solid #8c8c8c;
  font-size:  22px;
  margin-left:15px;
  padding:    3px;
}
#csrform ol {
  padding:    0;
  margin:     0;
}
#csrform li {
  padding:    5px;
  margin:     0;
  margin-left:20px;
  list-style: none;
}
#csrform label {
  display:    block;
  font-weight: bold;
  text-align: right;
  text-shadow: 1px 1px 0px #fff;
  width:      200px;
  float:      left;
}
#csrform .small {
  color:      #666666;
  display:    block;
  font-size:  11px;
  font-weight:normal;
  text-align: right;
  width:      200px;
}
#csrform input[type=submit] {
  width:  400px;
  clear:  both;
  border: 1px solid #8B0000;
  padding:    8px;
  font-size:  22px;
  text-shadow: 1px 1px 0 #000;
  margin-left: 124px;
  background:  url('/static/img/buttonbg.png') repeat-x;
  color:  #fff;
}

.error {
  -moz-box-shadow: 0 0 5px #F22233;
  -webkit-box-shadow: 0 0 5px #F22233;
  box-shadow: 0 0 5px #F22233;
}

#csr {
  margin:     15px 60px;
  padding:    20px;
}
#postgenerate {
  height:     800px;
  display:    none;
}

#content + img { /* Any image that immediately follows #content */
  margin-top: 15px;
}
