{% extends "layout.html" %}
{% block body %}
      <div class="text-center">
        <h4>Generate a Certificate Signing Request</h4>
        <p>Complete this form to generate a new CSR and private key.</p>
      </div>
      <div class="columns">
        <div class="centered column col-10 bg-grey">
          <form>
            <div class="form-group">
              <label class="form-label tooltip tooltip-left" data-tooltip="Two letter abbreviation" for="C">Country</label>
              <input class="form-input input-lg" type="text" name="C" placeholder="US" maxlength="2" autofocus pattern="[A-Z]{2}" />
            </div>
            <div class="form-group">
              <label class="form-label tooltip tooltip-left" data-tooltip="Full state name" for="ST">State</label>
              <input class="form-input input-lg" type="text" placeholder="Texas" name="ST" />
            </div>
            <div class="form-group">
              <label class="form-label tooltip tooltip-left" data-tooltip="Full city name" for="L">Locality</label>
              <input class="form-input input-lg" type="text" placeholder="San Antonio" name="L" />
            </div>
            <div class="form-group">
              <label class="form-label tooltip tooltip-left" data-tooltip="Full legal company or personal name" for="O">Organization</label>
              <input class="form-input input-lg" type="text" placeholder="Big Bob's Beepers" name="O" />
            </div>
            <div class="form-group">
              <label class="form-label tooltip tooltip-left" data-tooltip="Branch of organization" for="OU">Organizational Unit</label>
              <input class="form-input input-lg" type="text" placeholder="Marketing" name="OU" />
            </div>
            <div class="form-group">
              <label class="form-label tooltip tooltip-left" data-tooltip="The FQDN for your domain" for="CN" maxlength="64">Common Name</label>
              <input class="form-input input-lg" type="text" placeholder="example.com" name="CN" required />
            </div>
            <div class="form-group">
              <label class="form-label tooltip tooltip-left" data-tooltip="Comma-separated list of alternative DNS names" for="subjectAltNames">Alternative Names</label>
              <input class="form-input input-lg" type="text" placeholder="foo.example.com, bar.example.com" name="subjectAltNames" />
            </div>
            <div class="form-group">
              <label class="form-label tooltip tooltip-left" data-tooltip="Size of the RSA modulus in bits">Key Size</label>
              <label class="form-radio">
                <input type="radio" name="keySize" value="2048" checked />
                <i class="form-icon"></i> 2048
              </label>
              <label class="form-radio">
                <input type="radio" name="keySize" value="4096" />
                <i class="form-icon"></i> 4096
              </label>
            </div>
            <button class="btn btn-primary centered">Generate CSR</button>
          </form>
        </div>
      </div>
      <div id="csr-modal" class="modal">
        <div class="modal-overlay"></div>
        <div class="modal-container tall no-max-height">
          <div class="modal-header">
            <button type="button" class="btn btn-clear close float-right"></button>
          </div>
          <div class="modal-body no-max-height">
            <div class="content">
              <textarea id="csr" rows="47" cols="65" readonly="readonly"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn close btn-link">Close</button>
          </div>
        </div>
      </div>
{% endblock %}
