{% extends "layout.html" %}
{% block body %}
<form id="csrform" action="" method="POST">
  <ol>
    <li>
      <label for="C">Country:<span class="small">Two letter abbreviation</span></label>
      <input type="text" placeholder="US" name="C" required maxlength="2" autofocus pattern="[A-Z]{2}" />
    </li>
    <li>
      <label for="ST">State:<span class="small">Full state name</span></label>
      <input type="text" placeholder="Texas" name="ST" required />
    </li>
    <li>
      <label for="L">Locality:<span class="small">Full city name</span></label>
      <input type="text" placeholder="San Antonio" name="L" required />
    </li>
    <li>
      <label for="O">Organization:<span class="small">Full legal company or personal name</span></label>
      <input type="text" placeholder="Big Bob's Beepers" name="O" required />
    </li>
    <li>
      <label for="OU">Organizational Unit:<span class="small">Branch of organization</span></label>
      <input type="text" placeholder="Marketing" name="OU" />
    </li>
    <li>
      <label for="CN">Common Name:<span class="small">The FQDN for your domain</span></label>
      <input type="text" placeholder="example.com" name="CN" required />
    </li>
  </ol>
  <br/>
  <input type="submit" value="Generate CSR" />
</form>
<div id="postgenerate">
  <textarea id="csr" rows="47" cols="65" readonly="readonly"></textarea>
</div> <!-- End postgenerate div -->
{% endblock %}
