<!doctype html>
<html lang="en">
  <head>
    <title> AFRINIC BPKI Enrolment</title>
    <meta http-equiv="content-type" content="application/html; charset=utf-8" />
    <meta name="description" content="Generate p12 certificates">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="/static/img/favicon.ico" />
    <link rel="stylesheet" href="/static/css/spectre.min.css" />
    <link rel="stylesheet" href="/static/css/main.css" />

  </head>
  <body>
    <div class="container grid-960">
      <div class="columns">
        <div class="centered column col-8">
          {% block header %}
          <header class="navbar">
            <section class="navbar-section">
<!--              <a href="https://csrgenerator.com" class="navbar-brand">CSR Generator</a>-->
            </section>
            <section class="navbar-section">
<!--              <a href="{{ url_for('security') }}" class="btn btn-link" />security</a>-->
<!--              <a href="https://github.com/DavidWittman/csrgenerator.com" class="btn btn-link" />github</a>-->
            </section>
          </header>
          {% endblock %}
          {% block body %}{% endblock %}
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/static/js/loadingView.js"></script>
    <script type="text/javascript" src="/static/js/main.js"></script>

  </body>
</html>
